html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffffff;
}

/* Custom Styles */
.profile-picture {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.btn-lectures {
    background-color: #4dabf7;
    color: white;
    font-weight: bold;
    border: none;
    transition: 0.3s;
    border-radius: 0.5rem;
    font-size: 1.1rem; /* ????? ??? ???? */
    padding: 12px; /* ????? ????? ???? ???? */
    border-radius: 0.75rem; /* ??? ??????? ???? ?????? */
}

    .btn-lectures:hover {
        background-color: #339af0;
        box-shadow: 0 0 8px rgba(52, 152, 219, 0.6);
        transform: scale(1.05); /* ????? ??????? ??? ?????? ????? */
    }

.btn-tasks {
    background-color: #ffa94d;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.3s;
    font-size: 1.1rem; /* ????? ??? ???? */
    padding: 12px; /* ????? ????? ???? ???? */
    border-radius: 0.75rem; /* ??? ??????? ???? ?????? */
}

    .btn-tasks:hover {
        background-color: #ff922b;
        transform: scale(1.05);
    }

.btn-edit {
    background-color: #51cf66;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.3s;
    font-size: 1.1rem; /* ????? ??? ???? */
    padding: 12px; /* ????? ????? ???? ???? */
    border-radius: 0.75rem; /* ??? ??????? ???? ?????? */
}

    .btn-edit:hover {
        background-color: #40c057;
        transform: scale(1.05);
    }

.btn-details {
    background-color: #5f5f5f;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.3s;
    font-size: 1.1rem; /* ????? ??? ???? */
    padding: 12px; /* ????? ????? ???? ???? */
    border-radius: 0.75rem; /* ??? ??????? ???? ?????? */
}

    .btn-details:hover {
        background-color: #343a40;
        transform: scale(1.05);
    }

.btn-delete {
    background-color: #fa5252;
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.3s;
    font-size: 1.1rem; /* ????? ??? ???? */
    padding: 12px; /* ????? ????? ???? ???? */
    border-radius: 0.75rem; /* ??? ??????? ???? ?????? */
}

    .btn-delete:hover {
        background-color: #f03e3e;
        transform: scale(1.05);
    }
