@model TaskingSystem.Models.lecture

@{
    ViewData["Title"] = "Create New Lecture";
}

<h1>Create New Lecture</h1>

<h4>Lecture</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="lectureName" class="control-label"></label>
                <input asp-for="lectureName" class="form-control" />
                <span asp-validation-for="lectureName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseCode" class="control-label"></label>
                <select asp-for="CourseCode" class="form-control" asp-items="ViewBag.Courses"></select>
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="lectureFile" class="control-label"></label>
                <input asp-for="lectureFile" type="file" class="form-control" />
                <span asp-validation-for="lectureFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
